* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

.container {
    width: 1148px;
    margin: 0 auto;
}

/* ==============Navbar Starts Here============== */
#navbar {
    padding: 15px 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
}

.nav_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
}

.menu {
    width: 60%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}

.menu ul li a {
    color: #036E8A;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: medium;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.nav_actions {
    width: 20%;
    display: flex;
    column-gap: 8px;
    justify-content: end;
}

.nav_actions_item {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #036E8A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_actions_item img {
    font-size: 10px;
}

/* ==============Navbar Endss Here============== */

/* ==============Banner Starts Here============== */
#banner {
    background: url("../images/banner\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 257px;
    padding-bottom: 200px;
}

.banner_wrapper {
    max-width: 784px;
    margin: 0 auto;
}

.banner_wrapper h1 {
    color: #fff;
    font-size: 89px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: "Montserrat", sans-serif;
    max-width: 720px;
    line-height: 1.1;
}

.banner_wrapper p {
    margin-top: 24px;
    color: #fff;
    width: 784px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
}

.form_inner {
    margin-top: 45px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.banner_search {
    width: 428px;
    height: 60px;
    border: 1px solid #036E8A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.banner_search input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 95px;
    padding-right: 45px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #036E8A;
    position: relative;
}

.banner_search input::placeholder {
    color: #036E8A;
}

.banner_search a {
    position: absolute;
    color: #036E8A;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.map_circle {
    width: 58px;
    height: 58px;
    border: 1px solif #fff;
    background-color: #FF8000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ==============Banner Ends Here============== */