* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

.container {
    width: 1148px;
    margin: 0 auto;
}

/* ==============Navbar Starts Here============== */
#navbar {
    padding: 15px 0;
}

.nav_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;

}

.menu {
    width: 60%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}

.menu ul li a {
    color: #036E8A;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: medium;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.nav_actions {
    width: 20%;
    display: flex;
    column-gap: 8px;
    justify-content: end;
}
.nav_actions_item{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #036E8A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_actions_item img{
    font-size: 10px;
}

/* ==============Navbar Endss Here============== */